<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container d-flex flex-column  align-items-center">
    <div class="row col-8">
        <div class="input-group">
            <form th:action="@{/test/filmas/}" class="d-flex w-100" method="get">
                <input th:value="${pavadinimas}" type="text"name="pavadinimas" class="form-control" placeholder="Įveskite filmo pavadinimą...">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                        Ieškoti
                    </button>
                </div>
            </form>
        </div>
    </div>
    <p class="mt-4 text-center">Įveskite filmo, kurio norite ieskoti,pavadinima</p>
</div>
</body>
</html>